<form
        method="post"
        action="{{ path('admin_carpool_archive', {'carpool': carpool.id}) }}"
        onsubmit="return confirm('Voulez-vous archiver ce covoiturage?');"
>

    <input
            type="hidden"
            name="_token"
            value="{{ csrf_token('admin_carpool_archive_' ~ carpool.id) }}"
    >
    <button class="dropdown-item remove-item-btn"><i class="ri-archive-fill align-bottom me-2 text-muted"></i> Archiver</button>
</form>
