<form
    method="post"
    action="{{ path('admin_message_delete', {'message': message.id}) }}"
    onsubmit="return confirm('Voulez-vous supprimer ce message?');"
>
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('admin_message_delete_' ~ message.id) }}"
    >
    <button class="btn">Delete</button>
</form>
