{{ form_start(form, {attr: {class: 'home-js-filter-form'}}) }}
<div class="spinner-border home-js-loading" role="status" aria-hidden="true" style="display: none">
    <span class="sr-only">Chargement...</span>
</div>
<div class="home-search">
    {# <div class="search-box ms-2">
        {{ form_widget(form.q) }}
        <i class="ri-search-line search-icon"></i>
    </div> #}
    <div>
        {# ajouter un titre "Filtrer par catégorie" #}
        <h5 class="home-search-title mt-3">Filtrer par catégorie</h5>
        {{ form_widget(form.categories, {attr: {class: 'home-search-categories'}}) }}
    </div>
</div>
{{ form_end(form) }}