<!-- Modal -->
<div class="modal fade" id="inviteMembersModal" tabindex="-1" aria-labelledby="inviteMembersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header p-3 ps-4 bg-soft-success">
                <h5 class="modal-title" id="inviteMembersModalLabel">Etre covoitureur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="mb-4 d-flex align-items-center">
                    <div class="me-2">
                        <div class="alert alert-info shadow" role="alert">
                            <strong>Don't forget' it !</strong> A simple <b>info alert</b> —check it out!
                        </div>
                    </div>
                </div>
                {{ form_start(form_new_carpool) }}
                {{ form_widget(form_new_carpool) }}
                <button type="submit" class="btn btn-success">Etre covoitureur</button>
                {{ form_end(form_new_carpool) }}
            </div>
        </div>
    </div>
</div>