{% extends '../../base.html.twig' %}

{% block title %}New UserChild{% endblock %}

{% block body %}
    <h1>Create new UserChild</h1>

    {{ include('user_child/_form.html.twig') }}

    <a href="{{ path('app_user_child_index') }}">back to list</a>
{% endblock %}
