<div class="card">

    <div class="card-body">
        <div class="text-muted">
            <h6 class="mb-3 fw-semibold text-uppercase">Inscription</h6>
            <p>Incrivez votre ou vos enfants.</p>
            <div class="pt-3 border-top border-top-dashed mt-4">
                <div class="row">
                    {% if carpool.nbPlace is same as (carpool.child|length ) %}
                        <div class="alert alert-danger alert-dismissible alert-solid alert-label-icon shadow fade show mb-xl-0" role="alert">
                            <i class="ri-error-warning-line label-icon"></i><strong>Danger</strong>
                            <h4 class="alert-heading">Attention !</h4>
                            <p>Le nombre de place est atteint.</p>
                            <hr>
                            <p class="mb-0">Vous ne pouvez plus vous inscrire.</p>
                        </div>
                    {% else %}
                        {{ form_start(form_subscribe_carpool) }}
                        {{ form_widget(form_subscribe_carpool) }}
                        <div class="col-lg-12 mt-3">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="submit" class="btn btn-success w-sm">Enregistrer</button>
                                <a href="{{ path('carpool_show', {'carpool': carpool.id}) }}" class="btn btn-soft-danger w-sm">Annuler</a>
                            </div>
                        </div>
                        {{ form_end(form_subscribe_carpool) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>